---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
{% include meta.html %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}style.css">
</head>

  <body class="page-default">
    <div class="container">
      <header class="page-header" id="top_block">
        <h1 class="logo"><a href="{{ site.baseurl }}">htmllinks</a></h1>
        <p>{{ site.description }}</p>
        <form>
          <input class="search" id="search" type="search" placeholder="Поиск по странице">
        </form>
        <ul class="nav">
          <li>
            <a href="/about">О проекте</a>
          </li>
          <li>
            <a href="/add">Прислать ссылку</a>
          </li>
        </ul>
      </header>

      <section id="content" class="content" role="main">
        {{ content }}
      </section>

      <footer class="page-footer">
        {% include svg-icons.html %}
      </footer>

    </div>

    <script>
      document.getElementById('search').focus();
      document.getElementById('search').addEventListener('keyup',find);
      document.getElementById('search').addEventListener('change',find);
      document.getElementById('search').addEventListener('blur',find);

      function find() {
        var find_text = window.document.getElementById('search').value;
        var all = document.querySelectorAll('.l');
        find_text = trim(find_text);
        if (!find_text) {
          for(var i=0; i < all.length; i++) {
            all[i].classList.remove('hidden');
          }
          return false;
        }
        if (find_text.length < 3) {
          for(var i=0; i < all.length; i++) {
            all[i].classList.remove('hidden');
          }
          return false;
        }
        if (find_text.length >= 3) {
          var re = new RegExp(find_text, 'i');
          for(var i=0; i < all.length; i++) {
            if(!re.test(all[i].innerText)) {
              all[i].classList.add('hidden');
            }
            else {
              all[i].classList.remove('hidden');
            }
          }
        }
      }

      function trim(s) {
           s = s.replace( /^\s+/g, '');
        return s.replace( /\s+$/g, '');
      }
    </script>
    {% include analytics.html %}
  </body>
</html>
